@font-face {
  font-family: 'Sintony-Regular', serif;
  src: url('../fonts/Sintony-Regular.ttf') format('trueType');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Sintony-Bold', serif;
  src: url('../fonts/Sintony-Bold.ttf') format('trueType');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair-Display-Regular', serif;
  src: url('../fonts/PlayfairDisplay-Regular.ttf') format('trueType');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair-Display-Bold', serif;
  src: url('../fonts/PlayfairDisplay-Bold.ttf') format('trueType');
  font-weight: 700;
  font-style: normal;
}
