%text-content {
  font-family: 'Sintony-Regular';
  font-size: $text-size-content;
  color: $text-color-content;
}

%text-title {
  font-family: 'Sintony-Bold';
  font-size: $text-size-title;
  color: $text-color-title;
}

%button-default {
  border-radius: $button-border-radius;
  border: none;
  outline: 0;
  cursor: pointer;
  text-transform: uppercase;
}
