// TEXT
$text-size-title: 35px;
$text-size-content: 14px;

$text-size-banner-title: 56px;
$text-size-banner-content: 40px;
$text-size-banner-info: 34px;

$text-size-card-title-info: 30px;
$text-size-card-price: 26px;

$text-size-footer-info: 13px;

// COLOR
$text-color-title: #14141d;
$text-color-content: #a5a9ac;
$text-color-menu: #2c465a;
$text-color-orange: #fea100;
$text-color-white: #ffffff;
$text-color-pink: #fe659d;

$background-color-dark: #373844;
$background-color-white: #ffffff;
$background-color-button: #feae00;

$background-color-fb: #3b5998;
$background-color-lkd: #55acee;
$background-color-ggl: #dd4b39;

// SCREEN
$screen-sm-min: 480px;
$screen-md-min: 768px;
$screen-lg-min: 960px;
$screen-xl-min: 1200px;

// BUTTON
$button-border-radius: 5px;

// FONTS
$font-normal: 400;
$font-bold: 700;
