  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <title>Restaurant</title>
  </head>
  <body>
    <header class="header">
      <nav class="nav container">
      <img src="/images/logo.png" alt="corporate logo" class="logo" height="40" width="210">

        <ul class="nav-list">
          <li class="nav-item">Home</li>
          <li class="nav-item">Menu</li>
          <li class="nav-item">Reservation</li>
          <li class="nav-item">Recipe</li>
          <li class="nav-item">Blog</li>
          <li class="nav-item">Pages</li>
          <li class="nav-item">Contact</li>
        </ul>
        
        <button class="book button">Book your table</button>
      </nav>
    </header>
  </body>
  </html>
