<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta content="width=device-width, height=device-height, initial-scale=1" name="viewport">
  </head>
  <body> 
      {{> header}}

    <main class="main">
      <div class="container">
        {{{body}}}
      </div>
    </main>

      {{> footer}}
  </body>
</html>
