
<section>
  <h2 class="visually-hidden">Restaurant main page</h2>
 

  <div class="banner">
   <div class="banner__content">
    <p class="banner__title">Taste your fav dish</p>
    <p class="banner__text">from <span>luxury restaurant</span></p>
  </div>
  </div>

  <div class="container">
        Main content
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem numquam voluptatibus ipsam, dolorum, nulla vel quasi
        <br/>
        reprehenderit tenetur laboriosam neque rerum similique vitae obcaecati quo hic est doloremque sunt dignissimos.

</div>
</section>
 
      
      
 
 
